<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="./stylesheets/style.css">
        <title>Bloglogna</title>
    </head>

    <body>
        <header>
            <nav>
                <a class="nav-link" href="/">Home</a>
                {{#if loggedIn}}
                <a class="nav-link" href="/dashboard">Dashboard</a>
                <button id="logout" class="btn-no-style">Logout</button>
                {{else}}
                <a class="nav-link" href="/login">Login</a>
                {{/if}}
            </nav>
            <div class="head-title">
                The Tech Blog
            </div>
        </header>

        <main>
            <div class="post-container">
            {{{ body }}}
            </div>
        </main>
        
        {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
        {{/if}}
    </body>
</html>
