<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="./stylesheets/style.css">
        <title>Bloglogna</title>
    </head>

    <body>
        <header>
            <nav>
                <a href="/">Home</a>
                <a href="/dashboard">Dashboard</a>
                <button class="btn-no-style">Logout</button>
            </nav>
            <div class="head-title">
                The Tech Blog
            </div>
        </header>

        <main>
            {{{ body }}}
        </main>
    </body>
</html>
