<article>
    <div class="post-header">
        <h1 class="post-title">Signup</h1>
    </div>
    <form class="login-form">
        <div>
            <label for="username-signup">Username</label>
            <input type="text" id="username-signup" />
        </div>
        <div>
            <label for="password-signup">Password</label>
            <input type="password" id="password-signup" />
        </div>
        <div>
            <button class="login-btn" type="submit">Signup</button>
        </div>
    </form>
    <a class="signup-switch" href="/login">Login instead</a>
</article>

<script src="/javascript/signup.js"></script>